<div class="back" routerLink="/home">
  Back
</div>
<div class="coffee">
  <div class="coffee-container">
    <div class="coffee-container__img">
      <img src="assets/clipart/espresso.png" alt="espresso-shot">
    </div>
    <div class="coffee-container__desc">
      <div class="coffee-container__desc--title">
        Espresso Shot
      </div>
      <div class="coffee-container__desc--text">
        A concentrated form of coffee served in a small, strong shot.
      </div>
    </div>
  </div>
  <div class="coffee-container">
    <div class="coffee-container__img-americano">
      <img src="assets/clipart/americano.png" alt="americano">
    </div>
    <div class="coffee-container__desc">
      <div class="coffee-container__desc--title">
        Americano
      </div>
      <div class="coffee-container__desc--text">
        An americano is just water and espresso. Usually served 1/2 espresso and 1/2 water.
      </div>
    </div>
  </div>
  <div class="coffee-container">
    <div class="coffee-container__img">
      <img src="assets/clipart/cap.png" alt="cappuccino">
    </div>
    <div class="coffee-container__desc">
      <div class="coffee-container__desc--title">
        Cappuccino
      </div>
      <div class="coffee-container__desc--text">
        A cappuccino is the perfect balance of espresso, steamed milk and foam. This coffee is all about the structure and the even splitting of all elements into equal thirds.
      </div>
    </div>
  </div>
  <div class="coffee-container">
    <div class="coffee-container__img">
      <img src="assets/clipart/latte.png" alt="latte">
    </div>
    <div class="coffee-container__desc">
      <div class="coffee-container__desc--title">
        Latte
      </div>
      <div class="coffee-container__desc--text">
        A latte or caffè latte is a milk coffee that is a made up of one or two shots of espresso, steamed milk and a final, thin layer of frothed milk on top.
      </div>
    </div>
  </div>
  <div class="coffee-container">
    <div class="coffee-container__img">
      <img src="assets/clipart/matcha-latte.png" alt="matcha-latte">
    </div>
    <div class="coffee-container__desc">
      <div class="coffee-container__desc--title">
        Matcha Latte
      </div>
      <div class="coffee-container__desc--text">
        Matcha latte is a beverage that originates from Japan. It's made from finely ground green tea leaves (matcha) that are mixed with steamed milk.
      </div>
    </div>
  </div>
</div>