<div class="home">
  <div class="home__title">
    <h1>Welcome to Rise Up</h1>
    <h2>Training you in no time</h2>
  </div>
  <div class="home__title--mobile">
    Rise Up Training Sheet
  </div>
  <div class="home__links">
    <div class="home__links-link" *ngFor="let link of links" routerLink="/{{link.route}}">
      <img src="{{link.url}}" alt="image-link">
      <span>
        {{link.label}}
      </span>
    </div>
  </div>
  <div class="footer">
    © 2024 Copyright: Rise Up
    <span>Designed By: Chubby Designs</span>
  </div>
</div>