@import 'include-media';

.home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  height: 90vh;
  padding: 25px 50px;
  text-align: center;

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  h1, h2 {
    margin: 0;
  }
}

.home__title {
  display: flex;
  flex-direction: column;
  z-index: -1;
}

.home__title--mobile {
  display: none;
}

.home__links {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;

  img {
    width: 170px;
    transition: 0.2s linear;
  }

  img:hover {
    cursor: pointer;
    transform: translateY(-10px);
    filter: brightness(1.15);
  }

  span {
    font-weight: bold;
    font-size: 20px;
  }
}

.home__links-link {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 50px;

  &:last-child {
    img {
      width: 105px;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  font-size: 12px;

  span {
    font-size: 10px;
    color: maroon;
  }
}

@media (max-width: 490px) {
  .home {
    height: auto;
  }

  .home__links {
    row-gap: 18px;
  }

  .home__title {
    display: none;
  }

  .home__title--mobile {
    display: block;
    font-size: larger;
    width: 100vw;
    color: white;
    font-weight: bold;
  }
}