@import url('https://fonts.googleapis.com/css2?family=Alata&family=Coming+Soon&display=swap');
@import 'include-media';

body {
  height: 100vh;
  background-image: url(../src/assets/background-image.jpg);
  background-size: fit;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Alata', sans-serif;
  font-family: 'Coming Soon', cursive;
  margin: 0;
}

@include media('<tablet') {
  // body {
  //   background-image: none;
  //   background-color: rgb(214, 166, 124);
  // }
}